
.logo {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 4em;
    height: 4em;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
  }
  
.logo:hover, .logo:focus {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  
  @media screen and (max-width: 600px) {
    .logo {
      width:  2.7em;
      height: 2.7em;
    }

    .icon-container {
      position: 'relative';
      width: 'auto';
      height: 'auto';
    }
  }