.card {
    position: relative;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    animation: slide-in 2.5s forwards ease-in;
    -webkit-animation: slide-in 2.5s forwards;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.info-block {
    background: #EDEFF1;
    margin-top: 5em;
    padding: 2em;
    padding-top: 2em;
    border-radius: 1em;
    font-size: 1.2vw;
    flex-wrap: wrap;
    
}

img {
    width: 20vh;
    border-radius: 4em;
    position: relative;
    display: block;
    position: absolute;
    top: -20%;
    left: 40%;
}

p, h1 {
    animation: fadeIn ease-out 3s;
}

span, a {
    text-decoration: none;
    color: white;
}

#contact{
    background-color: red;
}

#Mern {
    background-color: orange;
}

#fullstack {
    background-color: lightcoral;
}

#github-repository {
    background-color: #52DF56;
}


@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

@media screen and (max-width: 600px) {
    .card {
        position: relative;
        width: 90%;
        height: 90%;
        align-self: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }


    img {
        width: 14vh;
        border-radius: 4em;
        position: relative;
        display: block;
        position: absolute;
        top: -10%;
        left: 70%;
    }

    .info-block {
        background: #EDEFF1;
        margin-top: 7em;
        padding: 1em;
        width: 100%;
        border-radius: 1em;
        font-size: 1em;
    }
}

