// n is number of stars required
@function multiple-box-shadow ($n) {
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF'
  }
  @return unquote($value)
}

$shadows-small:  multiple-box-shadow(700);

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

html { overflow: hidden;}

#root {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(ellipse at bottom, #0053A0 0%, #031D34 55%, #000000 100%);
  overflow: hidden ;
  max-height: 100%;

}

.grid-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.4fr 2.2fr 0.4fr;
  grid-template-rows: 0.2fr 2.6fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . TopRight"
    ". App ."
    ". . .";
}
.App { 
  grid-area: App; 
  margin: 4vw;
}
    
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;

    
  &:after {
    content: " ";
    position: absolute;
    top: 1000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;

  }
}


@keyframes animStar{
  from { 
    transform: translateY(0px)
  }
  to {	
    transform: translateY(-2000px)
    }
}

@keyframes bounce-up-down {
  40% {
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(40px) rotate(-1deg);
  }
}

@media only screen and (max-width: 600px) {
  body {
    height: 100vh;
    width: 100vw;
    background: radial-gradient(ellipse at bottom, #0053A0 0%, #031D34 55%, #000000 100%);
  }

  .grid-container {
  width: 100vw;
  height: 100vh;
  max-height: 900px;

  display: grid;
  grid-template-columns: 0.4fr 2.2fr 0.4fr;
  grid-template-rows: 0.2fr 2.6fr 0.2fr;
  gap: 0px 0px;
  overflow-y: scroll;
  grid-template-areas:
    ". . ."
    ". App ."
    ". . .";
}


  
}